<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <style>
body {
  display: grid;
  place-content: center;
  min-height: 100vh;
}
header {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vh;
}
h1 {
  flex: 0 0 100%;
  text-align: center;
}
footer {
  font-size: clamp(16px, 2.5vw, 24px);
  justify-content: space-around;
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 2.5vh;
}
.home {
  font-size: clamp(40px, 5vw, 80px);
}
h2 {
  padding-top: 5vh;
  font-size: clamp(30px, 5vw, 45px);
  text-align: center;
}
.home,
.nav,
p {
  margin: 0;
}
.nav-item {
  margin: 0;
}
.nav {
  display: flex;
  align-items: center;
  gap: 2ch;
  font-size: clamp(20px, 10vw, 40px);
}
.tmpl-post {
  align-content: start;
  padding-top: 5vh;
}
.tmpl-post h1 {
  font-size: clamp(25px, 7.5vw, 45px);
}
.tmpl-post .nav {
  font-size: clamp(16px, 2.5vw, 20px);
}
.tmpl-post main {
  text-align: center;
}
.tmpl-post h3 {
  font-size: clamp(20px, 5vw, 35px);
}
    </style>
  </head>
  <body{% if templateClass %} class="{{ templateClass }}"{% endif %}>
    <header {% if templateClass %} class="{{ templateClass }}"{% endif %}>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a> 👩‍🌾</h1>
      <br />
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <span>made with {emoji} by <a href="{{ metadata.profile }}">ginger</a></span> <a href="{{ metadata.github }}">github</a>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
